.backpack-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.backpack-popup {
    background: white;
    border: 3px solid black;
    width: 100%;
    max-width: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.backpack-popup__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 14px;
    border-bottom: 3px solid black;

    font-weight: bold;
}

.backpack-popup__close {
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.backpack-popup__close:hover {
    color: #2563eb;
}

.backpack-popup__content {
    padding: 10px 14px;
    overflow-y: auto;
}

.backpack-popup__empty {
    text-align: center;
    opacity: 0.6;
    font-size: 14px;
}

/* Item row */

.backpack-item {
    position: relative;
    border: 2px solid black;
    padding: 8px;
    margin-bottom: 8px;
    background: white;
    border-radius: 6px;
    cursor: pointer;
}

.backpack-item:last-child {
    margin-bottom: 0;
}

.backpack-item__name {
    font-weight: bold;
    margin-bottom: 4px;
}

.backpack-item__description {
    font-size: 13px;
    line-height: 1.3;
}

.backpack-popup__title {
    margin: 0%;
}

.backpack-item--common {
    border-color: #000000;
}

.backpack-item--uncommon {
    border-color: #2ecc71;
}

.backpack-item--rare {
    border-color: #3498db;
}

.backpack-item--epic {
    border-color: #9b59b6;
    box-shadow: 0 0 6px rgba(155, 89, 182, 0.6);
}

.backpack-item--legendary {
    border-color: #f39c12;
    box-shadow: 0 0 8px rgba(243, 156, 18, 0.8);
}

.backpack-item__qty {
    position: absolute;
    top: -6px;
    right: -6px;

    background: black;
    color: white;

    font-size: 12px;
    font-weight: bold;

    padding: 2px 6px;
    border-radius: 999px;

    line-height: 1;
}
