.room {
    position: relative;
    width: 90vw;
    height: 90vh;
    margin: auto;
    border: 5px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fox {
    width: 120px;
    height: 120px;
}

.npc {
    position: absolute;
    bottom: 50px;
    right: 50px;
    max-width: 120px;
    max-height: 120px;
    object-fit: contain;
    z-index: 3;
}
